<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text><h1>Latin Names Quiz</h1></ion-text>
    <ion-text><h5>Question {{quizService.getIndexOfActiveQuestion()}}/
      {{quizService.getNumberOfQuestions()}}</h5></ion-text>
      <ion-text color="primary"><h5>{{quizService.getQuestionOfActiveQuestion()}}</h5></ion-text>
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
          <ion-label>{{option}}</ion-label>
          <ion-radio *ngIf=!quizService.isOptionSelected() (click)="checkOption(i)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-text><h5>{{feedback}}{{points}}/5</h5></ion-text>
      <ion-button [disabled]="!quizService.isAnswerCorrect()"
      shape="round" color="success" (click)="continue()" tappable>Continue</ion-button>
      <ion-text *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
  </div>
</ion-content>
