<ion-header>
  <ion-toolbar>
    <ion-title>Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text>
      <h1>Latin names Quiz</h1>
    </ion-text>
    <ion-text>
      <h5>Correct answers: {{points}}/{{quizService.questionCounter}}</h5>
    </ion-text>
    <ion-text>
      <h5>Correctness: {{correctness}}%</h5>
    </ion-text>
    <ion-text>
      <h5>Duration: {{ durationSeconds }} seconds</h5>
    </ion-text>
    <ion-text>
      <h5>{{printResult()}} </h5>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col><img src="{{statusImage}}"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="normal" color="success" (click)="toAnswers()">Answers</ion-button>
  </div>
</ion-content>