<ion-header>
  <ion-toolbar>
    <ion-title>Answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text>
      <h1>Latin names Quiz</h1>
    </ion-text>
    <ion-text>
      <h2>Correct answers</h2>
    </ion-text>
    <ion-text>
      <h5>Fox: Vulpes vulpes</h5>
    </ion-text>
    <ion-text>
      <h5>Black bear: Ursus americanus</h5>
    </ion-text>
    <ion-text>
      <h5>Sea-urchin: Echinoidea</h5>
    </ion-text>
    <ion-text>
      <h5>Hawk: Accipitridae</h5>
    </ion-text>
    <ion-text>
      <h5>Snake: Serpentes</h5>
    </ion-text>
    <ion-button expand="normal" color="success" (click)="toHome()">Homepage</ion-button>
  </div>
</ion-content>