<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Welcome to Latin animal names quiz homepage</h1></ion-text>
    <img src="../assets/imgs/6.png">
    <ion-text><h5>Navigate page to page by buttons</h5></ion-text>
    <ion-button expand="normal" color="success" (click)="toQuiz()">Quiz</ion-button>
  </div>
</ion-content>
